aiodns
aiohttp
beautifulsoup4
cchardet
colorlog
https://github.com/siku2/Eventory/archive/master.zip
matplotlib
motor
numpy
pillow
selenium
validators
wordcloud

https://github.com/Rapptz/discord.py/archive/rewrite.zip
